.wrapper {
    margin: 3rem
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonStyle {
    text-transform: none !important;
}

.iconStyle {
    margin-right: .5rem;
}